
append styles

block body
    .container
        .panel.panel-primary
        .panel-heading 
            h4 Version 0.2.0
        .panel-body 
            p Next version
        
        .panel.panel-primary
        .panel-heading 
            h4 Version 0.1.0
        .panel-body 
            p Inital version
