extends ../_bootstrap

append styles
block body
    .welcome-page
        .container
            .jumbotron
                h2 #{title}
        .container
            .row
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure Analyze Steps
                        .panel-body
                            .container
                                p Define your analyze steps 
                                .btn.btn-default
                                    a(href="analyzeSteps", type="btn is-primary") Config
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure different motors
                        .panel-body
                            .container
                                p Define your motors 
                                .btn.btn-default
                                    a(href="", type="btn is-primary") Config
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure different props
                        .panel-body
                            .container
                                p Define your props 
                                .btn.btn-default
                                    a(href="", type="btn is-primary") Config
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure different lipos
                        .panel-body
                            .container
                                p Define your lipos 
                                .btn.btn-default
                                    a(href="", type="btn is-primary") Config
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure routes
                        .panel-body
                            .container
                                p Define routes for analyze steps 
                                .btn.btn-default
                                    a(href="", type="btn is-primary") Config
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure views
                        .panel-body
                            .container
                                p Define views for analyze steps 
                                .btn.btn-default
                                    a(href="", type="btn is-primary") Config
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Configure HX711 sensor
                        .panel-body
                            .container
                                p Define pins 
                                .btn.btn-default
                                    a(href="hx711Controller", type="btn is-primary") Config

