extends ../_bootstrap

append styles
block body
    .welcome-page
        .container
            .jumbotron
                h2 title
        .container
            .row
                .col-sm-6
                    .panel.panel-primary
                        .panel-heading 
                            h4 HX711-Configuration
                        .panel-body
                            .container
                            form(method='POST' action='SAVE_HX711')
                            div.form-group
                                .row.col-xs-12
                                    h4 Motor 1
                                .row
                                    .col-sm-1.form-group-sm
                                        +input("text","clockPinM1","ClockPin ","clockPinM1")
                                    .col-sm-1.form-group-sm
                                        +input("text","dataPinM1","DataPin","dataPinM1")
                                    .col-sm-1.form-group-sm
                                        +input("text","scaleM1","Scale","scaleM1")
                                    .col-sm-1.form-group-sm
                                        +input("text","offsetM1","Offset","offsetM1")
                                .row.col-sm-12
                                    h4 Motor 2
                                .row
                                    .col-xs-1.form-group-sm
                                        +input("text","clockPinM2","ClockPin ","clockPinM2")
                                    .col-xs-1.form-group-sm
                                        +input("text","dataPinM2","DataPin","dataPinM2")
                                    .col-xs-1.form-group-sm
                                        +input("text","scaleM2","Scale","scaleM2")
                                    .col-xs-1.form-group-sm
                                        +input("text","offsetM2","Offset","offsetM2")
                                .row.col-xs-12
                                    h4 Motor 3
                                .row
                                    .col-xs-1.form-group-sm
                                        +input("text","clockPinM3","ClockPin ","clockPinM3")
                                    .col-xs-1.form-group-sm
                                        +input("text","dataPinM3","DataPin","dataPinM3")
                                    .col-xs-1.form-group-sm
                                        +input("text","scaleM3","Scale","scaleM3")
                                    .col-xs-1.form-group-sm
                                        +input("text","offsetM3","Offset","offsetM3")
                                .row.col-xs-12
                                    h4 Motor 4
                                .row
                                    .col-xs-1.form-group-sm
                                        +input("text","clockPinM4","ClockPin ","clockPinM4")
                                    .col-xs-1.form-group-sm
                                        +input("text","dataPinM4","DataPin","dataPinM4")
                                    .col-xs-1.form-group-sm
                                        +input("text","scaleM4","Scale","scaleM4")
                                    .col-xs-1.form-group-sm
                                        +input("text","offsetM4","Offset","offsetM4")
                                .row
                                    .col-sm-4
                                        hr
                                        button.btn.btn-primary(id="HX711_save", type="submit") Save
                                        hr
                .col-sm-6
                    .panel.panel-primary
                        .panel-heading 
                            h4 HX711 - TEST
                        .panel-body
                            .container
                                .row
                                    .col-sm-1.form-group-sm
                                        +input("text","valueMotor1","HX711 - 1 ","valueMotor1")
                                    .col-sm-1.form-group-sm
                                        +input("text","valueMotor2","HX711 - 2 ","valueMotor2")
                                    .col-sm-1.form-group-sm
                                        +input("text","valueMotor3","HX711 - 3 ","valueMotor3")
                                    .col-sm-1.form-group-sm
                                        +input("text","valueMotor4","HX711 - 4 ","valueMotor4")
                                .row
                                    .col-sm-1.form-group-sm
                                        +btn-xs-primary("Reset")
                                    .col-sm-1.form-group-sm
                                        +btn-xs-primary("Reset")
                                    .col-sm-1.form-group-sm
                                        +btn-xs-primary("Reset")
                                    .col-sm-1.form-group-sm
                                        +btn-xs-primary("Reset")
                                .row
                                    .col-sm-4
                                        hr
                                        .btn-primary("xxxxx") Reset-All
                                        hr
            .row
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Setting 3    
                        .panel-body
                            p text
            .row
                .col-sm-4
                    .panel.panel-primary
                        .panel-heading 
                            h4 Row 2 - Setting 1
                        .panel-body
                            p text




